* {
    font-family: 'Courier New', Courier, monospace;
}

.article-content {
    width: 100%;
    text-align: center; 
    justify-content: left;
}

ul {
    font-style: italic;
    background-color: blanchedalmond;
    width: 350px;
}

ol {
    max-width: 800px;
}